<h1>Products</h1>
<div id="products">
  <% if @products.present? %>
    <table border="1">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock (Amount)</th>
        </tr>
        <% @products.each do |product| %>
          <% next if product.amount <= 0 %>
          <%= render product %>
        <% end %>
    </table>
  <% else %>
    <div class="alert alert-alert">
      <p>No products available for now</p>
    </div>
  <% end %>
</div>
